<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {{ $style := resources.Get "/tot.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink | relURL }}" />
  <title>{{ .Title }} | Oak St. Electronics </title>
</head>

<body>
  <div class="section is-family-code">
    <div class="container is-max-desktop">

      {{ partial "nav.html" . }}
      {{ partial "breadcrumb.html" . }}

      <main class="content">
        {{block "main" . }} {{ end }}
      </main>
    </div>
  </div>

</body>

</html>